{
  "line": {
    "apiUrl": "https://api.line.me/v2/bot/message/push",
    "accessToken": "SET_LOCALLY",
    "recipientId": "SET_LOCALLY"
  },
  "skytreeLeague": {
    "userId": "SET_LOCALLY",
    "password": "SET_LOCALLY"
  }
}
